.main-banner {
  display: flex;
  width: 100%;

  min-height: 800px;
  background-color: #000;
  background-image: url(../assets/bg1.jpeg);
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  padding-bottom: 50px;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  color: #fff;
  .main-banner-image {
    .corner-arrow-area {
      display: block;
      background-color: rgba(69, 82, 67, 0.315);

      position: absolute;
      left: 0%;
      top: 0%;
      right: 0%;
      bottom: 0%;
      z-index: 0;

      .corner {
        width: 5vmin;
        height: 5vmin;
        box-sizing: border-box;
        position: absolute;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          border-width: 0.4vmin 0.4vmin 0 0;
          border-style: solid;
          border-color: #fafafa;
          transition: 0.2s ease;
          display: block;
          transform-origin: 100% 0;
        }
      }
      .corner-top-left {
        left: 32px;
        top: 32px;
        transform: rotate(90deg);
      }
      .corner-top-right {
        top: 32px;
        right: 32px;

        transform: rotate(180deg);
      }
      .corner-bottom-left {
        left: 32px;
        bottom: 32px;
        transform: rotate(15deg);
      }
      .corner-bottom-right {
        right: 32px;
        bottom: 32px;
        transform: rotate(250deg);
      }
    }
  }
  .main-banner-text-body {
    .text-area {
      .text-top-left {
        position: absolute;
        left: 6%;
        top: 12%;
        h5 {
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        }
      }
      .text-top-right {
        position: absolute;
        top: 12%;
        right: 6%;
      }
      .text-bottom-left {
        position: absolute;
        bottom: 12%;
        left: 6%;
      }
      .text-bottom-right {
        position: absolute;
        right: 6%;
        bottom: 12%;
      }
    }
    .text-caption {
      font-family: Karla, sans-serif;
      color: #fff;
      font-weight: 400;

      h4 {
        position: fixed;
        bottom: 65%;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
      }
    }
    .text-detail-name,
    .text-detail-sub-text,
    .text-detail-name-icon,
    .SATURDAY,
    .date,
    .info-area {
      font-family: "Crimson Text", serif;
      color: #fff;
      font-size: 70px;
      line-height: 72px;
      font-weight: 400;
      text-transform: none;
      position: fixed;
      bottom: 55%;
      width: 100%;
      text-align: center;
      animation: 4s slidein;
      animation-fill-mode: forwards;
    }
    .text-detail-sub-text,
    .text-detail-name-icon {
      bottom: 35%;
      width: 100%;
      text-align: center;
    }
    .text-detail-name-icon {
      bottom: 44%;
    }
    .date {
      bottom: 25%;
      font-size: 30px;
      text-transform: uppercase;
    }
    .info-area {
      bottom: 10%;
      font-size: 20px;

      letter-spacing: 1px;
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-color: #fff;
      text-transform: uppercase;
    }
    .info-area:hover {
      color: white;
      position: fixed;
      cursor: pointer;
    }

    @keyframes slidein {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX 0;
      }
    }
  }
}

.navigation-area {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(60, 168, 168);
  height: 50px;
  .nav {
    .nav-item {
      a {
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        padding-top: 15px;
        margin-right: 10px;
      }
    }
  }
}
.info-section {
  padding: {
    top: 200px;
    bottom: 20px;
  }
  .info-section-text {
    font-size: 23px;
    font-family: "Prompt", sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: start;
  }
  button {
    border: 1px solid black;
    border-radius: 0px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Prompt", sans-serif;
    padding : {
      left: 80px;
      right: 80px;
    }
  }button:hover{
    background-color: #044242;
    color: #fafafa;
  }
  .info-scetion-card {
    .card {
      border: 1px solid #000000;
      border-radius: 0px;
      .card-detail {
        font-family: "IBM Plex Serif", serif;
        padding: 20px;
        font-size: 15px;
      }
      strong {
        text-transform: uppercase;
        color: cadetblue;
      }
      h6 {
        padding-top: 10px;
        color: #000000;
        letter-spacing: 1px;
        font-weight: 600;
      }
      p {
        padding-top: 20px;
      }
    }
  }
}

.our-story-section {
  padding: {
    top: 200px;
  }
  h1 {
    padding: {
      left: 30px;
      right: 30px;
    }
    text-align: center;
    font-size: 80px;
    line-height: 100px;
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
  }
  .our-story-hover-area {
    width: 100%;
    padding-top: 300px;
    margin-bottom: 20px;
    .horinzotal-line {
      border: 1.5px solid black;
      .hr-line-one,
      .hr-line-three {
        border-left: 4px solid #000000;
        height: 50px;
        position: absolute;
        left: 10%;
        margin-left: -3px;
        opacity: 1;
        will-change: transform;
        transform: translate3d(-25%, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      }
      .detail-one-line,
      .detail-line-two,
      .detail-line-three,
      .detail-line-four {
        position: absolute;

        width: 200px;
        left: -40px;
        strong {
          color: #044242;
          font-weight: 600;
          letter-spacing: 1px;
        }
        p,
        span {
          font-size: 16px;
          font-family: "IBM Plex Serif", serif;
          color: #000000;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
      .hr-line-one {
        .detail-one-line {
          bottom: 100px;
        }
        img {
          visibility: hidden;
        }
      }
      .hr-line-one:hover {
        .detail-line-one{
          visibility: hidden;
        }
        img {
          visibility: visible;
        }
      }
      .hr-line-two,
      .hr-line-four {
        
        border-left: 4px solid #000000;
        height: 50px;
        position: absolute;
        left: 30%;
      }
      .hr-line-two {
        .detail-line-two {
          top: 100px;
        }
        img {
          visibility: hidden;
        }
      }
      .hr-line-two:hover {
        .detail-line-two{
          visibility: hidden;
        }
        img {
          visibility: visible;
        }
      }
      .hr-line-three {
        left: 58%;
        img {
          visibility: hidden;
        }
        .detail-line-three {
          bottom: 100px;
        }
      }
      .hr-line-three:hover {
        
        img {
          visibility: visible;
        }
      }
      .hr-line-four {
        left: 80%;
        img {
          visibility: hidden;
        }
        .detail-line-four {
          top: 100px;
        }
      }
      .hr-line-four:hover {
        .detail-line-four{
          visibility: hidden;
        }
        img {
          visibility: visible;
        }
      }
    }
  }
  .image-on-hover {
    img {
      background-color: #fafafa;
      padding: 20px;
      width: 260px;
      height: 300px;
      border:10px solid rgb(9, 11, 131)
    }
  }
}

/////////////////// CSS FOR SCHEDULE 
.schedule-area{
  margin-top: 450PX;
  background-color: #fafafa;
  padding-bottom: 130px;
  .container{
    padding-top: 150px;
    .schedule-info,.schedule-info-lower{
      h3{
        font-family: "IBM Plex Serif", serif;
        font-size: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      p{
        font-size: 16px;
        font-family: "Prompt", sans-serif;
      }
      
    }
    .schedule-info-lower{
      h3{
        padding-top: 250px;
      }
    }
    .card{
      border: 1px solid #000000;
      border-radius: 0px;
      .card-detail {
        font-family: "IBM Plex Serif", serif;
        padding: 20px;
        font-size: 15px;
      }
      strong {
        text-transform: uppercase;
        color: cadetblue;
      }
      h6 {
        padding-top: 10px;
        color: #000000;
        letter-spacing: 1px;
        font-weight: 600;
      }

    }
    .schedule-info-tabler-form-lower{
      padding-top: 130px;
      .card-detail{
        h6{
          font-size: 13px;
        }
        .italic-text{
          padding-top: 20px;
          i{
            font-family: 'IBM Plex Serif', serif;
          }
        }
     
      }
    }
  }
}

/////////////////// CSS FOR GALERY 
.galler-area-section {
  padding-bottom: 150px;
  .gallery-area {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .single-gallery-item {
    background-color: #044242;
    padding: 25px 30px;
    margin: 10px;
   
    .post-image {
      transition: all 0.3s cubic-bezier(0.3, 0.58, 0.55, 1);
      position: relative;
      overflow: hidden;

      img {
        width: 350px;
        height: 300px;
        transition: all 2s cubic-bezier(0.2, 1, 0.22, 1);
      }
      img:hover {
        filter: blur(4px);
        cursor: pointer;
      }
      &::before,
      &::after {
        transition: all 0.8s cubic-bezier(0.2, 1, 0.22, 1);
        content: "";
        background-color: #000;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        opacity: 0;

        transform: translate(-50%, -50%);
      }
      &::before {
        width: 60px;
        height: 3px;
        left: 100%;
      }
      &::after {
        height: 60px;
        width: 3px;
        top: 0;
      }
    }

    &:hover,
    &:focus {
      border: 1px solid white;
      transform: translateY(-5px);

      .post-image {
        &::before,
        &::after {
          opacity: 1;
          top: 50%;
          left: 50%;
        }
        img {
          zoom: 1;
          opacity: 0.9 !important;
          transform: scale(1.07);
        }
      }
    }
  }
}
